.sun {
 width: 160px;
 Height: 160px;
 background-color: yellow;
border-radius: 50%;
position: absolute;
top: 10px;
right: 10px;
}

body {
    background-color: #87CEEB;
}

.grass {
height: 50px;
width: 100%;
position: absolute;
background-color: green;
bottom : 0;
}

.trunk {
background-color: #725c42;
height: 350px;
width: 80px;
position: absolute;
bottom: 50px;
left: 90px;
}

.bush1 {
    background-color: #90EE90;
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
    left: -30px;
    top: 70px;
z-index: 2;
}

.bush2 {
    background-color: #90EE90;
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
z-index: 2;
top: 70px;
left: 90px;
    }

    .bush3 {
        background-color: #90EE90;
        height: 200px;
        width: 200px;
        position: absolute;
        border-radius: 50%;
    z-index: 2;
    top: 15px;
    left: 30px;
        }

        .bush4 {
            background-color: #90EE90;
            height: 200px;
            width: 200px;
            position: absolute;
            border-radius: 50%;
        z-index: 2;
        top: 90px;
        left: 30px;
            }

.cloud1 {
background-color: white;
border-radius: 50%;
height:150px;
width: 180px;
position: absolute;
left: 300px;
top: 18px;
}

.cloud2 {
    background-color: white;
    border-radius: 50%;
    height:150px;
    width: 180px;
    position: absolute;
    left: 370px;
    top: 18px;
}

.cloud3 {
    background-color: white;
    border-radius: 50%;
    height:150px;
    width: 180px;
    position: absolute;
    left: 860px;
    top: 22px;
}

.cloud4 {
    background-color: white;
    border-radius: 50%;
    height:150px;
    width: 180px;
    position: absolute;
    left: 800px;
    top: 22px;
}
.cloud5 {
    background-color: white;
    border-radius: 50%;
    height:180px;
    width: 180px;
    position: absolute;
    left: 335px;
    top: 0px;
}
.cloud6 {
    background-color: white;
    border-radius: 50%;
    height:180px;
    width: 180px;
    position: absolute;
    left: 830px;
    top: 8px;
}

.door {
background-color: #964B00;
height: 170px;
width: 90px;
position: absolute;
bottom: 50px;
right: 280px;
z-index: 5;
}

.house {
    background-color: #cdc7b9;
    height: 280px;
    width: 380px;
    position: absolute;
    right: 80px;
    bottom: 50px;
}

.roof {
    background-color: #762E21;
    height: 30px;
    width: 400px;
    position: absolute;
    right: 70px;
    bottom: 330px;
}
.door-bell {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    background-color: gold;
    bottom:130px;
    right: 293px;
    z-index: 10;
}

