@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Press+Start+2P&display=swap');
* {
    box-sizing: boarder-box;
}
 body {
    background-color: #967969;
    color: #ffffff;
    font-family: 'Press Start 2P', sans-serif;
    height: 100vh;
    margin: 0;
    text-align: center;
 }

 h1 {
    line-height: 1.4;
 }

 .btn {
    boarder: 0;
    background-color: white;
    color: #967969
    padding: 15px 20px;
    font-family: inherit;
    curser: pointer;
 }
