@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Press+Start+2P&display=swap');
* {
    box-sizing: boarder-box;
}
 body {
    background-color: #967969;
    color: #ffffff;
    font-family: 'Press Start 2P', sans-serif;
    height: 100vh;
    margin: 0;
    text-align: center;
 }

 h1 {
    line-height: 1.4;
 }

 .btn {
    border: 0;
    background-color: white;
    color: #967969;
    padding: 15px 20px;
    font-family: 'Press Start 2P', sans-serif;
    cursor: pointer;
 }

 .btn:hover {
    opacity: 9.0;
 }

 .screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
 }
