
*{
    box-sizing: border-box;
}

body {
    Background-image: linear-gradient(45deg, blue, green);
    display: flex; /* uses flexbox which responds to diffrent screen sizes */
    align-items: center;/* vertically center */
    justify-content: center;/* horizontally center */
    height: 100vh; /* setting body height to 100% */
    margin: 0;


.search{
    position: relative;
    height: 50px;

}

    .search .input
{
    height:50px;
    width: 50px;
    font-size: 18px;
    padding; 15px;
    border: 0;
    background-color: #ffffff;
    transition: width 1s ease;
}

.btn
{
    backrgrounnd-color; white;
    border: 0;
    font-size: 24px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: transform 1s ease;
}

.search.active .input{
    width: 200px;
}

.search.active .btn{
    transform: translatex(198px);
}

.btn:focus, .input:focus {
    outline: none;
}
